anyio==4.8.0
certifi==2025.1.31
docstring_parser==0.16
duckdb==1.2.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
joblib==1.4.2
Markdown==3.7
numpy==2.2.3
python-dotenv==1.0.1
scikit-learn==1.6.1
scipy==1.15.1
sniffio==1.3.1
threadpoolctl==3.5.0
typing_extensions==4.12.2
python-dotenv
Faker==36.1.1
fastapi==0.115.8
httpx==0.28.1
numpy==2.2.3
pandas==2.2.3
Pillow==11.1.0
scikit_learn==1.6.1
sentence_transformers==3.4.1
uvicorn==0.34.0